<!DOCTYPE HTML>
<HTML lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:replace="~{template :: headfiles}"></th:block>
	</head>
	<body>
		<th:block th:replace="~{template :: menu}"></th:block >
		<br>
		<div class="container">
			<div th:if="${errorMessage != null && !#strings.isEmpty(errorMessage)}" class="alert alert-danger alert-dismissible fade show" role="alert">
			  	<span th:text="${errorMessage}"></span >
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
			<form class="" action="#" th:action="@{/employee/add}" method="POST" autocomplete="off">
				<div class="card mb-4">
				 	<h4 class="card-header">Register Employee</h4>
			 		<div class="card-body">
			 			<h5>Employee</h5>
			 			<th:block >
				 			<div class="row">
							    <div class="col">
									<label for="firstName" class="form-label">First Name</label>
									<input type="text" class="form-control" name="employee.firstName" id="firstName" placeholder="John" required>
								</div>
							    <div class="col">
									<label for="lastName" class="form-label">Last Name</label>
									<input type="text" class="form-control" name="employee.lastName" id="lastName" placeholder="Smith" required>
								</div>
							    <div class="col-1">
									<label for="suffix" class="form-label">Suffix</label>
									<input type="text" class="form-control" name="employee.suffix" id="suffix" placeholder="Jr.">
								</div>
							    <div class="col">
									<label for="middleName" class="form-label">Middle Name</label>
									<input type="text" class="form-control" name="employee.middleName" id="middleName" required>
								</div>
							    <div class="col">
									<label for="nickname" class="form-label">Nickname</label>
									<input type="text" class="form-control" name="employee.nickname" id="nickname">
								</div>
				 			</div>
				 			<div class="row">
							    <div class="col">
									<label for="cellNo" class="form-label">Cellphone Number</label>
									<input type="text" class="form-control" name="employee.cellNo" id="cellNo" placeholder="09123456789" required>
								</div>
							    <div class="col">
									<label for="telNo" class="form-label">Telephone Number</label>
									<input type="text" class="form-control" name="employee.telNo" id="telNo" placeholder="1234567">
								</div>
							    <div class="col-auto">
									<label for="emailAddress" class="form-label">Email Address</label>
									<input type="email" class="form-control" name="employee.emailAddress" id="emailAddress" placeholder="juan.carlos@email.com">
								</div>
							    <div class="col">
									<label for="gender" class="form-label">Gender</label>
									<select class="form-select form-control" aria-label="GenderSelect" name="employee.gender" id="gender" required>
										<option th:value="''" th:text="''"></option>
										<option th:value="'M'" th:text="Male"></option>
										<option th:value="'F'" th:text="Female"></option>
									</select>
								</div>
							    <div class="col">
									<label for="birthdate" class="form-label">Birthdate</label>
									<input type="date" class="form-control" name="employee.birthdate" id="birthdate" placeholder="mm/dd/yyyy" required>
								</div>
				 			</div>
				 			<div class="row">
							    <div class="col">
									<label for="maritalStatus" class="form-label">Marital Status</label>
				                    <select id="maritalStatus" class="form-select form-control" aria-label="MaritalStatusSelect" name="employee.maritalStatus" required>
				            			<option th:value="''" th:text="''"></option >
										<option th:value="S" th:text="Single"></option>
										<option th:value="M" th:text="Married"></option>
									</select>
								</div>
							    <div class="col">
									<label for="hiringDate" class="form-label">Hiring Date</label>
									<input type="date" class="form-control" name="employee.hiringDate" id="hiringDate" placeholder="mm/dd/yyyy" required>
								</div>
							    <div class="col">
									<label for="division" class="form-label">Division - select?</label>
									<input type="text" class="form-control" name="employee.division" id="division">
								</div>
							    <div class="col">
									<label for="position" class="form-label">Position - select?</label>
									<input type="text" class="form-control" name="employee.position" id="position">
								</div>
				 			</div>
				 			<br>
				 			<hr>
				 			<h5>Employee Address</h5>
				 			<h6>Present Address</h6>
				 			<div class="row">
				 				<input type="hidden" th:name="employeeAddress[0].id.addressType" name="addressType" th:value="1" value="1" />
							    <div class="col-2">
									<label for="presentProvince" class="form-label">Province - select</label>
									<input type="text" class="form-control" name="employeeAddress[0].province" id="presentProvince" required>
								</div>
							    <div class="col-2">
									<label for="presentCity" class="form-label">City - select</label>
									<input type="text" class="form-control" name="employeeAddress[0].city" id="presentCity" required>
								</div>
							    <div class="col-2">
									<label for="presentBarangay" class="form-label">Barangay - select</label>
									<input type="text" class="form-control" name="employeeAddress[0].barangay" id="presentBarangay" required>
								</div>
							    <div class="col">
									<label for="presentStreet" class="form-label">House Number/Street Name</label>
									<input type="text" class="form-control" name="employeeAddress[0].street" id="presentStreet" required>
								</div>
				 			</div>
				 			<h6>Permanent Address</h6>
				 				<input type="hidden" th:name="employeeAddress[1].id.addressType" name="addressType" th:value="2" value="2" />
				 			<div class="row">
							    <div class="col-2">
									<label for="province" class="form-label">Province - select</label>
									<input type="text" class="form-control" name="employeeAddress[1].province" id="province" required>
								</div>
							    <div class="col-2">
									<label for="city" class="form-label">City - select</label>
									<input type="text" class="form-control" name="employeeAddress[1].city" id="city" required>
								</div>
							    <div class="col-2">
									<label for="barangay" class="form-label">Barangay - select</label>
									<input type="text" class="form-control" name="employeeAddress[1].barangay" id="barangay" required>
								</div>
							    <div class="col">
									<label for="houseNo" class="form-label">House Number/Street Name</label>
									<input type="text" class="form-control" name="employeeAddress[1].street" id="houseNo" required>
								</div>
				 			</div>
				 			<h6>Provincial Address</h6>
				 			<div class="row">
				 				<input type="hidden" th:name="employeeAddress[2].id.addressType" name="addressType" th:value="3" value="3" />
							    <div class="col-2">
									<label for="province" class="form-label">Province - select</label>
									<input type="text" class="form-control" name="employeeAddress[2].province" id="province" required>
								</div>
							    <div class="col-2">
									<label for="provincialCity" class="form-label">City - select</label>
									<input type="text" class="form-control" name="employeeAddress[2].city" id="provincialCity" required>
								</div>
							    <div class="col-2">
									<label for="provincialBarangay" class="form-label">Barangay - select</label>
									<input type="text" class="form-control" name="employeeAddress[2].barangay" id="provincialBarangay" required>
								</div>
							    <div class="col">
									<label for="houseNo" class="form-label">House Number/Street Name</label>
									<input type="text" class="form-control" name="employeeAddress[2].street" id="provincialStreet" required>
								</div>
				 			</div>
				 			<br>
				 			<hr>
				 			<h5>Emergency Contact</h5>
							<div class="row">
					        	<div class="col">
					        		<label for="emergencyName" class="form-label">Name</label >
				                    <input type="text" class="form-control" name="employeeInfo.emergencyName" id="emergencyName" placeholder="John Smith" required>
					        	</div >
					        	<div class="col">
					        		<label for="emergencyAddress" class="form-label">Address</label >
				                    <input type="text" name="employeeInfo.emergencyAddress" id="emergencyAddress" class="form-control" placeholder="Angeles, Pampanga">
					        	</div >
					        	<div class="col">
					        		<label for="emergencyContact" class="form-label">Contact No</label >
				                    <input type="text" name="employeeInfo.emergencyContact" id="emergencyContact" class="form-control" placeholder="09123456789" required>
					        	</div >
					        </div>
					        <br>
					        <hr>
							<h5>Family Info</h5>
							<div class="row">
					        	<div class="col">
					        		<label for="fatherName" class="form-label">Father Name</label >
				                    <input type="text" name="employeeInfo.fatherName" id="fatherName" class="form-control">
					        	</div >
					        	<div class="col">
					        		<label for="fatherBirthdate" class="form-label">Father Birthdate</label >
				                    <input type="date" name="employeeInfo.fatherBirthdate" id="fatherBirthdate" class="form-control">
					        	</div >
					        	<div class="col">
					        		<label for="motherName" class="form-label">Mother Name</label >
				                    <input type="text" name="employeeInfo.motherName" id="motherName" class="form-control">
					        	</div >
					        	<div class="col">
					        		<label for="motherBirthdate" class="form-label">Mother Birthdate</label >
				                    <input type="date" name="employeeInfo.motherBirthdate" id="motherBirthdate" class="form-control">
					        	</div >
					        </div>
					        <br>
				 			<hr>
				 			<h5>Employee Dependent</h5>
				 			<div id="addDependentForm">
				 			</div>
				 			<div class="row justify-content-center">
					        	<div class="col-4">
					        		<a class="btn btn-outline-primary w-100" th:text="'Add Dependent'" id="addDependent" href="#">Add</a>
					        	</div>
					        </div>
				 			<br>
				 			<hr>
				 			<h5>Employee Benefits</h5>
				 			<div class="row">
					        	<div class="col-auto">
					        		<label for="sssNo" class="form-label">SSS No</label >
				                    <input type="text" name="employeeBenefits.sssNo" id="sssNo" class="form-control" required>
					        	</div >
					        	<div class="col-auto">
					        		<label for="sssMembershipDate" class="form-label">SSS Membership Date</label >
				                    <input type="date" name="employeeBenefits.sssMembershipDate" id="sssMembershipDate" class="form-control">
					        	</div >
							</div>
							<div class="row">
					        	<div class="col-auto">
					        		<label for="philHealthNo" class="form-label">PhilHealth No</label >
				                    <input type="text" name="employeeBenefits.philhealthNo" id="philHealthNo" class="form-control" required>
					        	</div >
					        	<div class="col-auto">
					        		<label for="philHealthMembershipDate" class="form-label">PhilHealth Membership Date</label >
				                    <input type="date" name="employeeBenefits.philhealthMembershipDate" id="philHealthMembershipDate" class="form-control">
					        	</div >
							</div>
							<div class="row">
					        	<div class="col-auto">
					        		<label for="pagibigNo" class="form-label">PAG-IBIG No</label >
				                    <input type="text" name="employeeBenefits.pagibigNo" id="pagibigNo" class="form-control" required>
					        	</div >
					        	<div class="col-auto">
					        		<label for="pagibigMembershipDate" class="form-label">PAG-IBIG Membership Date</label >
				                    <input type="date" name="employeeBenefits.pagibigMembershipDate" id="pagibigMembershipDate" class="form-control">
					        	</div >
							</div>
							<div class="row">
					        	<div class="col-auto">
					        		<label for="tinNo" class="form-label">TIN No</label >
				                    <input type="text" name="employeeBenefits.tinNo" id="tinNo" class="form-control" required>
					        	</div >
					        </div>
			 			</th:block>
			 			<hr>
					    <input class="btn btn-primary" type="submit" value="Submit">
						<input class="btn btn-secondary" type="reset" value="Reset">
				 	</div> 
				</div>
			</form >
		</div>
		
		<th:block th:replace="~{template :: footer}"></th:block >
		<script type="text/javascript" th:src="@{/js/public/jquery-3.6.0.min.js}"></script>
		<th:block th:replace="~{template :: scripts}"></th:block>
		<script type="text/javascript" th:src="@{/js/employee_dependent.js}"></script>
		<script th:inline="javascript">
			var employeeId = '';
			
			setInputFilter(document.getElementById("cellNo"), function(value) {
				return /^\d*?\d*$/.test(value); // Allow digits and '.' only, using a RegExp
			});
			setInputFilter(document.getElementById("telNo"), function(value) {
				return /^\d*?\d*$/.test(value); // Allow digits and '.' only, using a RegExp
			});
			setInputFilter(document.getElementById("emergencyContact"), function(value) {
				return /^\d*?\d*$/.test(value); // Allow digits and '.' only, using a RegExp
			});
			setInputFilter(document.getElementById("sssNo"), function(value) {
				return /^\d*?\d*$/.test(value); // Allow digits and '.' only, using a RegExp
			});
			setInputFilter(document.getElementById("philHealthNo"), function(value) {
				return /^\d*?\d*$/.test(value); // Allow digits and '.' only, using a RegExp
			});
			setInputFilter(document.getElementById("pagibigNo"), function(value) {
				return /^\d*?\d*$/.test(value); // Allow digits and '.' only, using a RegExp
			});
			setInputFilter(document.getElementById("tinNo"), function(value) {
				return /^\d*?\d*$/.test(value); // Allow digits and '.' only, using a RegExp
			});
		</script >
	</body>
</HTML>