<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
	</head>
	<body>
		<!-- General -->
		<tr th:fragment="1">
			<h5>Employee Details</h5>
	        <div class="row ">
	        	<div class="offset-4 col-4 text-center">
	        		<label for="lastName" class="form-label">First Name</label >
                    <input type="text" name="firstName" id="firstName" class="form-control" th:value="${res.employee.firstName}" th:readonly="${!isUpdate}" readonly>
	        	</div >
	        </div>
	        <div class="row">
	        	<div class="col text-center">
	        		<label for="lastName" class="form-label">Last Name</label >
                    <input type="text" name="lastName" id="lastName" class="form-control" th:value="${res.employee.lastName}" th:readonly="${!isUpdate}" readonly>
	        	</div >
	        </div>
	        <div class="row">
	        	<div class="col">
	        		<label for="middleName" class="form-label">Middle Name</label >
                    <input type="text" name="middleName" id="middleName" class="form-control" th:value="${res.employee.middleName}" th:readonly="${!isUpdate}" readonly>
	        	</div >
	        	<div class="col">
	        		<label for="suffix" class="form-label">Suffix</label >
                    <input type="text" name="suffix" id="suffix" class="form-control" th:value="${res.employee.suffix}" th:readonly="${!isUpdate}" readonly>
	        	</div >
	        	<div class="col">
	        		<label for="nickname" class="form-label">Nickname</label >
                    <input type="text" name="nickname" id="nickname" class="form-control" th:value="${res.employee.nickname}" th:readonly="${!isUpdate}" readonly>
	        	</div >
	        </div>
	        <div class="row">
	        	<div class="col">
	        		<label for="cellNo" class="form-label">Cellphone Number</label >
                    <input type="text" name="cellNo" id="cellNo" class="form-control" th:value="${res.employee.cellNo}" th:readonly="${!isUpdate}" readonly>
	        	</div >
	        	<div class="col">
	        		<label for="teleNo" class="form-label">Telephone Number</label >
                    <input type="text" name="teleNo" id="teleNo" class="form-control" th:value="${res.employee.teleNo}" th:readonly="${!isUpdate}" readonly>
	        	</div >
	        	<div class="col">
	        		<label for="gender" class="form-label">Gender</label >
                    <select id="gender" class="form-select form-control" aria-label="GenderSelect" th:field="*{res.employee.gender}" th:disabled="${!isUpdate}">
						<option th:value="'F'" th:text="Female"></option>
						<option th:value="'M'" th:text="Male"></option>
					</select>
	        	</div >
	        	<div class="col">
	        		<label for="birthdate" class="form-label">Birthdate</label >
                    <input type="text" name="birthdate" id="birthdate" class="form-control" th:value="${res.employee.birthdate}" th:readonly="${!isUpdate}" readonly>
	        	</div >
	        	<div class="col">
	        		<label for="maritalStatus" class="form-label">Marital Status</label >
                    <select id="maritalStatus" class="form-select form-control" aria-label="MaritalStatusSelect" th:field="*{res.employee.maritalStatus}" th:disabled="${!isUpdate}">
            			<option th:if="${res.employee.maritalStatus == null}" th:value="''" th:text="''"></option >
						<option th:value="M" th:text="Married"></option>
						<option th:value="S" th:text="Single"></option>
					</select>
	        	</div >
	        </div>
	        <div class="row">
	        	<div class="col">
	        		<label for="hiringDate" class="form-label">Hiring Date</label >
                    <input type="text" name="hiringDate" id="hiringDate" class="form-control" th:value="${res.employee.hiringDate}" th:readonly="${!isUpdate}" readonly>
	        	</div >
	        	<div class="col">
	        		<label for="regularizationDate" class="form-label">Regularized on</label >
                    <input type="text" name="regularizationDate" id="regularizationDate" class="form-control" th:value="${res.employee.regularizationDate}" th:readonly="${!isUpdate}" readonly>
	        	</div >
	        	<div class="col">
	        		<label for="terminationDate" class="form-label">Termination Date</label >
                    <input type="text" name="terminationDate" id="terminationDate" class="form-control" th:value="${res.employee.terminationDate}" th:readonly="${!isUpdate}" readonly>
	        	</div >
	        	<div class="col">
	        		<label for="division" class="form-label">Division</label >
                    <input type="text" name="division" id="division" class="form-control" th:value="${res.employee.division}" th:disabled="true" disabled>
	        	</div >
	        	<div class="col">
	        		<label for="position" class="form-label">Position</label >
                    <input type="text" name="position" id="position" class="form-control" th:value="${res.employee.position}" th:disabled="true" disabled>
	        	</div >
	        </div>
	        <hr>
	    	<h5>Employee Address</h5>
	        <div class="row" th:each="empAddress : ${res.employeeAddressList}">
	        	<h5 th:text="${empAddress.addressType}"></h5 >
	        	<div class="col-4">
	        		<label for="street" class="form-label">Street</label >
                    <input type="text" name="street" id="street" class="form-control" th:value="${empAddress.street}" th:readonly="${!isUpdate}" readonly>
	        	</div >
	        	<div class="col">
	        		<label for="barangay" class="form-label">Barangay</label >
                    <input type="text" name="barangay" id="barangay" class="form-control" th:value="${empAddress.barangay}" th:readonly="${!isUpdate}" readonly>
	        	</div >
	        	<div class="col">
	        		<label for="city" class="form-label">City</label >
                    <input type="text" name="city" id="city" class="form-control" th:value="${empAddress.city}" th:readonly="${!isUpdate}" readonly>
	        	</div >
	        	<div class="col">
	        		<label for="province" class="form-label">Province</label >
                    <input type="text" name="province" id="province" class="form-control" th:value="${empAddress.province}" th:readonly="${!isUpdate}" readonly>
	        	</div >
	        </div>
		</tr>
		
		<!-- Employee Info -->
		<tr th:fragment="2">
			<h5>Emergency Contact</h5>
			<div class="row">
	        	<div class="col">
	        		<label for="emergencyName" class="form-label">Name</label >
                    <input type="text" name="emergencyName" id="emergencyName" class="form-control" th:value="${res.employeeInfo.emergencyName}" th:readonly="${!isUpdate}" readonly>
	        	</div >
	        	<div class="col">
	        		<label for="emergencyAddress" class="form-label">Address</label >
                    <input type="text" name="emergencyAddress" id="emergencyAddress" class="form-control" th:value="${res.employeeInfo.emergencyAddress}" th:readonly="${!isUpdate}" readonly>
	        	</div >
	        	<div class="col">
	        		<label for="emergencyContact" class="form-label">Contact No</label >
                    <input type="text" name="emergencyContact" id="emergencyContact" class="form-control" th:value="${res.employeeInfo.emergencyContact}" th:readonly="${!isUpdate}" readonly>
	        	</div >
	        </div>
	        <hr>
			<h5>Family Info</h5>
			<div class="row">
	        	<div class="col">
	        		<label for="fatherName" class="form-label">Father Name</label >
                    <input type="text" name="fatherName" id="fatherName" class="form-control" th:value="${res.employeeInfo.fatherName}" th:readonly="${!isUpdate}" readonly>
	        	</div >
	        	<div class="col">
	        		<label for="fatherBirthdate" class="form-label">Father Birthdate</label >
                    <input type="text" name="fatherBirthdate" id="fatherBirthdate" class="form-control" th:value="${res.employeeInfo.fatherBirthdate}" th:readonly="${!isUpdate}" readonly>
	        	</div >
	        	<div class="col">
	        		<label for="motherName" class="form-label">Mother Name</label >
                    <input type="text" name="motherName" id="motherName" class="form-control" th:value="${res.employeeInfo.motherName}" th:readonly="${!isUpdate}" readonly>
	        	</div >
	        	<div class="col">
	        		<label for="motherBirthdate" class="form-label">Mother Birthdate</label >
                    <input type="text" name="motherBirthdate" id="motherBirthdate" class="form-control" th:value="${res.employeeInfo.motherBirthdate}" th:readonly="${!isUpdate}" readonly>
	        	</div >
	        </div>
	        <hr>
	        <h5>Employee Dependent(s)</h5>
	        <div class="row" th:each="employeeDependent : ${res.employeeDependentList}">
	        	<div class="col">
	        		<label for="dependentName" class="form-label">Name</label >
                    <input type="text" name="dependentName" id="dependentName" class="form-control" th:value="${employeeDependent.dependentName}" th:readonly="${!isUpdate}" readonly>
	        	</div >
	        	<div class="col-auto">
	        		<label for="dependentBirthdate" class="form-label">Birthdate</label >
                    <input type="text" name="dependentBirthdate" id="dependentBirthdate" class="form-control" th:value="${employeeDependent.dependentBirthdate}" th:readonly="${!isUpdate}" readonly>
	        	</div >
	        	<div class="col-auto">
	        		<label for="gender" class="form-label">Gender</label >
                    <select name="gender" class="form-select form-control" aria-label="GenderSelect" th:disabled="${!isUpdate}">
						<option th:value="'M'" th:selected="${employeeDependent.gender == 'M'}" th:text="Male"></option>
						<option th:value="'F'" th:selected="${employeeDependent.gender == 'F'}" th:text="Female"></option>
					</select>
	        	</div >
	        </div>
		</tr>
		
		<!-- Employee Benefits -->
		<tr th:fragment="3">
			<h5>Benefits Information</h5>
			<div class="row">
	        	<div class="col-3">
	        		<label for="sssNo" class="form-label">SSS No</label >
                    <input type="text" name="sssNo" id="sssNo" class="form-control" th:value="${res.employeeBenefits.sssNo}" th:readonly="${!isUpdate}" readonly>
	        	</div >
	        	<div class="col-3">
	        		<label for="sssMembershipDate" class="form-label">SSS Membership Date</label >
                    <input type="text" name="sssMembershipDate" id="sssMembershipDate" class="form-control" th:value="${res.employeeBenefits.sssMembershipDate}" th:readonly="${!isUpdate}" readonly>
	        	</div >
	        	<div class="col-3">
	        		<label for="philHealthNo" class="form-label">PhilHealth No</label >
                    <input type="text" name="philHealthNo" id="philHealthNo" class="form-control" th:value="${res.employeeBenefits.philHealthNo}" th:readonly="${!isUpdate}" readonly>
	        	</div >
	        	<div class="col-3">
	        		<label for="philHealthMembershipDate" class="form-label">PhilHealth Membership Date</label >
                    <input type="text" name="philHealthMembershipDate" id="philHealthMembershipDate" class="form-control" th:value="${res.employeeBenefits.philHealthMembershipDate}" th:readonly="${!isUpdate}" readonly>
	        	</div >
			</div>
			<div class="row">
	        	<div class="col-3">
	        		<label for="pagibigNo" class="form-label">PAG-IBIG No</label >
                    <input type="text" name="pagibigNo" id="pagibigNo" class="form-control" th:value="${res.employeeBenefits.pagibigNo}" th:readonly="${!isUpdate}" readonly>
	        	</div >
	        	<div class="col-3">
	        		<label for="pagibigMembershipDate" class="form-label">PAG-IBIG Membership Date</label >
                    <input type="text" name="pagibigMembershipDate" id="pagibigMembershipDate" class="form-control" th:value="${res.employeeBenefits.pagibigMembershipDate}" th:readonly="${!isUpdate}" readonly>
	        	</div >
			</div>
			<div class="row">
	        	<div class="col-3">
	        		<label for="tinNo" class="form-label">TIN No</label >
                    <input type="text" name="tinNo" id="tinNo" class="form-control" th:value="${res.employeeBenefits.tinNo}" th:readonly="${!isUpdate}" readonly>
	        	</div >
	        </div>
		</tr>
	</body>
</html>