<!DOCTYPE HTML>
<HTML lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:replace="~{template :: headfiles}"></th:block>
		<meta name="_csrf" th:content="${_csrf.token}"/>
		<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
	</head>
	<body>
		<th:block th:replace="~{template :: menu}"></th:block>
		<br>
		<div class="container-fluid">
			<p th:if="${res != null && res.error != null && !#strings.isEmpty(res.error.message)}" th:text="${res.error.message}" style="color:red;"></p >
			<div th:if="${errorMessage != null && !#strings.isEmpty(errorMessage)}" class="alert alert-danger alert-dismissible fade show" role="alert">
			  	<span th:text="${errorMessage}"></span >
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
			<div th:if="${successMessage != null && !#strings.isEmpty(successMessage)}" class="alert alert-success alert-dismissible fade show" role="alert">
			  	<span th:text="${successMessage}"></span >
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
			<div class="card mb-4" th:if="${res != null}">
			    <div class="card-header text-center">
			        <ul class="nav nav-tabs card-header-tabs me-auto">
			            <!--<li class="nav-item">
			                <a class="nav-link" th:classappend="${(viewType == '1' || viewType == '') ? 'active disabled' : ''}" href="#" th:href="@{/employee/} + ${res.employeeId} + @{?empViewType=1}">Profile</a>
			            </li>-->
			            <li class="nav-item">
			                <a class="nav-link" th:classappend="${#httpServletRequest.getRequestURI().endsWith('profile') ? 'active disabled' : ''}" href="#" th:href="@{/employee/} + ${res.employeeId} + @{/profile}" th:text="Profile">Profile</a>
			            </li>
			            <li class="nav-item">
			                <a class="nav-link" th:classappend="${#httpServletRequest.getRequestURI().endsWith('address') ? 'active disabled' : ''}" href="#" th:href="@{/employee/} + ${res.employeeId} + @{/address}" th:text="Address">Address</a>
			            </li>
			            <li class="nav-item">
			                <a class="nav-link" th:classappend="${#httpServletRequest.getRequestURI().endsWith('info') ? 'active disabled' : ''}" href="#" th:href="@{/employee/} + ${res.employeeId} + @{/info}">Info</a>
			            </li>
			            <li class="nav-item">
			                <a class="nav-link" th:classappend="${#httpServletRequest.getRequestURI().contains('dependent') ? 'active disabled' : ''}" href="#" th:href="@{/employee/} + ${res.employeeId} + @{/dependent}">Dependents</a>
			            </li>
			            <li class="nav-item me-auto">
			                <a class="nav-link" th:classappend="${#httpServletRequest.getRequestURI().endsWith('benefits') ? 'active disabled' : ''}" href="#" th:href="@{/employee/} + ${res.employeeId} + @{/benefits}">Benefits</a>
			            </li>
			            <!--<li class="nav-item" th:if="${!isUpdate}">
			                <a class="nav-link" href="#" th:href="@{/employee/} + ${res.employeeId} + @{?empViewType=} + ${viewType} + @{&isUpdate=true}">Update</a>
			            </li>-->
			            <li class="nav-item" th:if="${!isUpdate}">
			                <a class="nav-link" href="#" th:href="@{__${#httpServletRequest.requestURI}__} + @{?isUpdate=true}">Update</a>
			            </li>
			        </ul>
			    </div>
			    <div class="card-body">
			    	<div class="row"> 
				    	<h4>
				    		<span th:text="'Employee ID: '"></span >
				    		<em><span th:text="${res.employeeId}"></span ></em>
				    		<!--<span class="badge rounded-pill" 
				    			th:classappend="${res.employee.terminationDate == null? 'bg-success' : 'bg-secondary'}"
				    			th:text="${res.employee.terminationDate == null? 'Active' : 'Terminated'}">Employment Status</span>-->
				    	</h4>
			    	</div >
			        <th:block><div th:replace="/employee/employee_fragment :: ${viewType}"></div></th:block>
			    </div>
			</div>
		</div>
		
		<th:block th:replace="~{template :: footer}"></th:block >
		<script th:if="${viewType} == 5" type="text/javascript" th:src="@{/js/public/jquery-3.6.0.min.js}"></script>
		<th:block th:replace="~{template :: scripts}"></th:block>
		<script th:if="${viewType} == 5" type="text/javascript" th:src="@{/js/employee_dependent.js}"></script>
		<script th:inline="javascript">
			var employeeId = /*[[${res.employeeId}]]*/ '';
		</script >
	</body>
</HTML >